 <!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('hedgedoc/head') %>
</head>

<body translate="no">
    <%- include('hedgedoc/header') %>
    <%- include('hedgedoc/body') %>
    <%- include('hedgedoc/footer') %>
</body>

</html>
